extends layout

block content
  h3 #{title}
  select.biglist

    - for (var i = 0; i < data.length; i++) {
      option(value=data[i][1])= data[i][0]
    - }
  a#goto GENERATE REPORT

script.
    $( document ).ready(function() {
        $('.biglist').on("change",function(){
            console.log("gdghdsh");
        });
    });









